<!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'lab-4:index' %}" style="font-family: 'Courier New'">PORTOFOLIO</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <!-- LINK MENUJU table, dan link menuju home#form -->
          <li class="nav-item">
                <a class="nav-link" href="{% url 'lab-4:index' %}#form"><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/25603-200.png" alt="form" height="20px" width="20px"></a>
              </li>
          <li class="nav-item">
              <a href="{% url 'lab-4:result_table' %}"> <img src="https://png.icons8.com/read-message/win8/1600" alt="message" height="20px" width="20px"></a> 
              </li>
          <li class="nav-item">
              <a href="/lab-2/"> <img src="http://simpleicon.com/wp-content/uploads/home-3.svg" alt="message" height="25px" width="25px"></a> 
              </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
