{% extends "lab_8/layout/base.html" %}
{% load staticfiles %}

{% block content %}
<div id="lab8">

	<center>
		<h3 style= "margin-top: 50px"> TYA'S APP </h3>
		<button onclick="facebookLogin()" class="button-login">Login with Facebook</button>
	</center>
</div>
{% endblock %}