{% extends "base.html" %}
{% block content %}
<h1>BIODATA</h1>
<table align="center" style="text-align: center;margin-top:50px;width:25%">
    {% for bio in bio_dict %}
        <tr>
            <td class="subject">{{ bio.subject }}</td>
            <td class="value">{{ bio.value }}</td>
        </tr>
    {% endfor %}
</table>
<br><br>
{% endblock %}
