{% extends "lab_4/layout/base.html" %}
{% block content %}

<hr/>
<h1>PORTOFOLIO</h1>
<hr/>
<section name="pic-bio">
    <p>
        <img class="img-circle" src="http://68.media.tumblr.com/03bc1391ba02f6d28e785ac07634c8dd/tumblr_osv6qs2HUp1uatfiro2_400.png" alt="PICT">
    </p>    
</section>
<hr/>
<section name="bio">
    <h2>BIO</h2>
    <hr/>
    <p>
        {{content}}
    </p>    
</section>
    <hr/>
<section name="about_me">
    <h2>LIST</h2>
    <hr/>
    <ul>
        {% for ii in about_me %}
        <li style="color: white;"> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>
<hr/>
<section name="form">
    <h2>SEND MESSAGES</h2>
    <hr/>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>

{% endblock %}
