{% extends "base.html" %}
{% block content %}
<h1>DIARY</h1>
<br><br>
<div class="row">
    <div class="col-md-6 col-xs-6">
        <table align="center">
            <tr>
                <th>Date</th>
                <th>Activity</th>
            </tr>
            {% for diary_data in diary_dict %}
                <tr>
                    <td class="date">{{ diary_data.date }}</td>
                    <td class="activity">{{ diary_data.activity }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-6 col-xs-6">
        <form method="POST" action="add_activity/">
            {% csrf_token %}
            <table align="center">
                <tr>
                    <td>
                        Date
                    </td>
                    <td>
                        <input type="datetime-local" name="date" id="date" required="required" />
                    </td>
                </tr>
                <tr>
                    <td>
                       Activity
                    </td>
                    <td>
                        <input type="text" name="activity" id="activity" size="25"/>
                    </td>
                </tr>
            </table>
            <button type="submit" class="button btn-success" style="text-align:center;background: #9fdefc;border:#9fdefc;margin-left:190px">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
