{% extends "base.html" %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        width: 500px;
        height: 50px;
        top: 50%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
		font-size: 20px;
		color: #a55151;
    }
</style>
<div class="center_screen">
	<img src="https://s-media-cache-ak0.pinimg.com/originals/77/da/14/77da14da44ae44d45fcb8043dab9c0c1.png" alt="Flower" style="width:500px;height:379px;margin-top:-230px;margin-left:0px;margin-bottom:10px">
    <p class="status" id="test">Hello, this is {{ name }}. {{ content }}🌸</p>
</div>
{% endblock %}