<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tya's Page</title>
	<link rel="icon" type="image/gif/png" href="https://s-media-cache-ak0.pinimg.com/originals/62/9f/f1/629ff15c083697a3588f53494b06e06d.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<style>
    table, th, td {
        border: 1px solid white;
        table-layout: auto;
		    color: white;
		    text-align: center;
    }
    .subject{
        font-size: 20px;
        font-family: "Courier New";
        color: white;
    }
    .value{
        font-size: 20px;
        font-family: "Courier New";
        color: white;
    }
    h1{
        text-align: center;
        color: white;
        background-color: #9fdefc;
    }
    table{
        background-color: #9fdefc;
        text-align: center;
        table-layout: auto;
        width: 50%;
    }
</style>
<body style="background-color: #fdd2d6">
    <div class="container-fullwidth">
        <nav class="navbar navbar-default navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#" style="font-family: 'Courier New'">MENU</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/lab-2/"><img src="http://cdn.onlinewebfonts.com/svg/download_5639.png" alt="home" height="20px" width="20px"></a>
              </li>
              <li class="nav-item" >
                <a class="nav-link" href="/lab-2-addon/"><img src="https://image.flaticon.com/icons/png/512/223/223436.png" alt="biodata" height="25px" width="25px"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/lab-3/"><img src="http://icons.iconarchive.com/icons/iconsmind/outline/512/Address-Book-2-icon.png" alt="diary" height="20px" width="20px"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/lab-4/"><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/140554-200.png" alt="portofolio" height="26px" width="25px"></a>
              </li>
            </ul>
          </div>
        </nav>
    </div>
    {% block content %}
    {% endblock %}
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
{% block jquery %}
{% endblock %}
</html>
